services:
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    volumes:
      - ./backend:/var/www

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
  mysql:
    image: mysql:8.4
    container_name: blog_mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: blog
      MYSQL_USER: blog_user
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
    image: redis:7-alpine
    container_name: blog_redis
    ports:
      - "6379:6379"
  queue:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: blog_queue
    volumes:
      - ./backend:/var/www
    working_dir: /var/www
    command: php artisan queue:work --sleep=3 --tries=3
    depends_on:
      - redis
      - mysql
  
  scheduler:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: blog_scheduler
    volumes:
      - ./backend:/var/www
    working_dir: /var/www
    command: php artisan schedule:work
    depends_on:
      - mysql
      - redis



volumes:
  mysql_data:

